<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1>Главное меню</h1>

<ul>
    <li><a href="/patients/patientCardsList">Пациенты</a></li> <!-- Изменено URL -->
    <li><a href="/education/list">Образование</a></li>
    <li><a href="/employee/list">Работник</a></li>
    <li><a href="/offices/all">Кабинет</a></li>
    <li><a href="/specializations/all">Специализация</a></li>
    <li><a href="/doctorSchedules/all">График врача</a></li>

</ul>
</body>
</html>
