<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кабинеты</title>
    <form action="/" method="get">
        <button type="submit">Вернуться на главную</button>
    </form>
</head>
<body>
<h1>Список кабинетов</h1>
<table>
    <thead>
    <tr>
        <th>Номер</th>
        <th>Наименование</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="office : ${officeList}">
        <td th:text="${office.number}"></td>
        <td th:text="${office.name}"></td>
        <td>
            <form th:action="@{/office/delete/{id}(id=${office.id})}" th:method="post">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<hr>

<h3>Добавить кабинет</h3>
<form th:action="@{/offices}" method="post" th:object="${newOffice}">
    Номер: <input type="text" th:field="*{number}" name="number" placeholder="" required><br>
    Наименование: <input type="text" th:field="*{name}" name="name" required><br>
    <input type="submit" value="Добавить">
</form>

</body>
</html>
