<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
<h1>Пациент</h1>
<hr>
<h4>Подробная информация</h4>

<b>Фамилия:</b> <span th:text="${patientCard.surname}"></span><br>
<b>Имя:</b> <span th:text="${patientCard.name}"></span><br>
<b>Отчество:</b> <span th:text="${patientCard.patronymic}"></span><br>
<b>Пол:</b> <span th:text="${patientCard.floor}"></span><br>
<b>Дата рождения:</b> <span th:text="${patientCard.dateOfBirth}"></span><br>
<b>Номер телефона:</b> <span th:text="${patientCard.phoneNumber}"></span><br>
<b>Фамилия пациента:</b> <span th:text="${patientCard.passportSeriesNumber}"></span><br>

<hr>
<form action="/patientCard/delete/${patientCard.id}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Удалить пациента">
</form>




</body>
</html>
