<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Специализации</title>
    <form action="/" method="get">
        <button type="submit">Вернуться на главную</button>
    </form>
</head>
<body>
<h1>Список специализаций</h1>
<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Коэффициент к окладу</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="specialization : ${specializations}">
        <td th:text="${specialization.name}"></td>
        <td th:text="${specialization.description}"></td>
        <td th:text="${specialization.coefficientToSalary}"></td>
        <td>
            <form th:action="@{/specializations/delete/{id}(id=${specialization.id})}" method="post">
                <input type="hidden" name="_method" value="POST">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>

<h3>Добавить специализацию</h3>
<form action="/specializations/add" method="post">
    Наименование: <input type="text" name="name"><br>
    Описание: <input type="text" name="description"><br>
    Коэффициент к окладу: <input type="text" name="coefficientToSalary"><br>
    <input type="submit" value="Добавить">
</form>

</body>
</html>
